<% 
function layoutDiv() {
    var el = '';
    el += '<div class="navbar top">';
    el += '<div class="navbar-blur">';
    el += '<div class="navbar-container">';
    el += '<nav class="wiki">'; // 直接使用 wiki 样式

    el += '</nav>';
    el += '</div>';
    el += '</div>';
    el += '</div>';
    return el;
}
%>

<%- layoutDiv() %>